<h3>Step 1</h3>
<h5>Choose which shelf of your shelves you want to read</h5>
<br>

<% if @shelves %>
  <div class="row">
    <% @shelves.sort_by { |shelf| -shelf[1] }.each do |shelf| %>
      <div class="col m6">
        <div href="/shelves/<%= shelf[0] %>" class="hoverable">
            <div class="center">
            </div>
            <!-- TODO: gray out button if no books -->
            <a class="btn btn-block btn-large waves-effect waves-light" href="/shelves/<%= shelf[0] %>/overdrive">
              <i class="material-icons right">send</i><%= shelf[0] %>
              <em>
                <% if shelf[1] == 1 %>
                one book
                <% elsif shelf[1].positive?  %>
                <%= shelf[1] %> books
                <% else %>
                no books
                <% end %>
              </em>
            </a>
          </div>
          <br>
        </div>
      <% end %>
  </div>
<% else %>
  <p>No Shelves found. You may have waited too long, the Goodreads authentication token is only good for 30 seconds. Make sure you are using a modern browser, like Firefox, Safari, or Chrome and have the latest version.</p>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
