<% verb = %w[fetched retrieved gathered imported].sample %>
<% noun = %w[tomes shelves books manuscripts].sample %>

<h3><%= verb %> your <%= noun %>!</h3>
<br>

<% if @shelves %>
  <div class="row">
    <!-- # TODO: Change node to int in the controller. -->
    <% @shelves.sort_by { |shelf| -shelf[1].to_s.to_i }.each do |shelf| %>
      <div class="col l6">
        <div href="/shelves/<%= shelf[0] %>" class="card hoverable">
          <div class="card-content">
            <span class="card-title">
              <a href="/shelves/<%= shelf[0] %>">
                <%= shelf[0] %>
              </a>
            </span>
            <div class="right">
              <em>
              <% if shelf[1].to_s.to_i == 1 %>
                one book
              <% elsif shelf[1].to_s.to_i > 0  %>
                <%= shelf[1] %> books
              <% else %>
                no books
              <% end %>
            </em>
              <br>
            </div>
          </div>
          <div class="card-action">
            <a class="waves-effect orange-text text-darken-3 waves-light" href="/shelves/<%= shelf[0] %>"><i class="material-icons right">cloud_download</i>ebooks</a>
            <a class="waves-effect orange-text text-darken-3 waves-light" href="/shelves/<%= shelf[0] %>"><i class="material-icons right">markunread_mailbox</i>Hardcopies</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No Shelves found. You may have waited too long, the Goodreads authentication token is only good for 30 seconds. Make sure you are using a modern browser, like Firefox, Safari, or Chrome and have the latest version.</p>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
