<h4>select a shelf</h4>
<br>

<% if @shelves %>
  <div class="row">
    <% @shelves.each do |shelf| %>
      <div class="col m6 l4">
        <div href="/bookshelves/<%= shelf[0] %>" class="card hoverable">
          <span class="card-title">
            <a href="/bookshelves/<%= shelf[0] %>">
              <%= shelf[0].to_s.slice(0..20) %>
            </a>
          </span>
          <div class="card-action">
            <a class="btn-floating right waves-effect waves-light" href="/bookshelves/<%= shelf[0] %>"><i class="material-icons">send</i></a>
            <% if shelf[1].to_s.to_i == 1 %>
              <p>One book on this shelf.</p>
            <% elsif shelf[1].to_s.to_i > 0  %>
              <p><%= shelf[1] %> books on this shelf.</p>
            <% else %>
              <p>No books yet.</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No Shelves found. You may have waited too long, the Goodreads authentication token is only good for 30 seconds. Make sure you are using a modern browser, like Firefox, Safari, or Chrome and have the latest version.</p>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
