<div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <h3>Step 1</h3>
    <div class="progress">
      <div class="determinate" style="width: 25%"></div>
    </div>
    <h5>Choose a shelf</h5>
  </div>
</div>

<div class="row">
  <div class="col s12 l6 offset-l3 m8 offset-m2">
    <% @shelves.sort_by { |shelf| -shelf[1] }.each do |shelf| %>
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle">library_books</i>
          <span class="title"><%= shelf[0] %></span>
          <p>
            <em>
              <% if shelf[1] == 1 %>
              one book
              <% elsif shelf[1].positive?  %>
              <%= shelf[1] %> books
              <% else %>
              no books
              <% end %>
            </em>
          </p>
          <% if shelf[1] == 0 %>
            <a class="btn-floating disabled secondary-content"><i class="material-icons">send</i></a>
          <% else %>
            <a id="<%= shelf[0] %>" class="waves-effect btn-floating secondary-content waves-light btn modal-trigger" href="#modal-<%= shelf[0] %>"><i class="material-icons">send</i></a>
          <% end %>
        </li>
      </ul>
      <div id="modal-<%= shelf[0] %>" class="modal small">
        <div class="modal-content">
          <h4 class="center"> &nbsp; Choose a format</h4>
          <br>
          <div class="row">
            <div class="col m6 offset-m2">
              <a href="/shelves/<%= shelf[0] %>/overdrive" class="modal-close cyan btn-large waves-effect waves-green btn right">
                <i class="material-icons right">cloud_download</i>
                eBooks
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col m6 offset-m2">
              <a href="/shelves/<%= shelf[0] %>/bookmooch" class="modal-close btn-large waves-effect waves-green btn right">
                <i class="material-icons right">markunread_mailbox</i>
                By Mail
              </a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>
