<div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <h3>Step 1</h3>
    <div class="progress">
      <div class="determinate" style="width: 25%"></div>
    </div>
    <h5>Choose a shelf</h5>
  </div>
</div>

<div class="row">
  <div class="col s12 l6 offset-l3 m8 offset-m2">
    <% @shelves.sort_by { |shelf| -shelf[1] }.each do |shelf| %>
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons circle">library_books</i>
          <span class="title"><%= shelf[0] %></span>
          <p>
            <em>
              <% if shelf[1] == 1 %>
              one book
              <% elsif shelf[1].positive?  %>
              <%= shelf[1] %> books
              <% else %>
              no books
              <% end %>
            </em>
          </p>
          <!-- TODO: gray out button if no books -->
          <a href="/shelves/<%= shelf[0] %>/overdrive" id="<%= shelf[0] %>" class="btn-floating secondary-content"><i class="material-icons">send</i></a>
        </li>
      </ul>
    <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
