<div class="row">
  <h4 class="white-text">Your <%= @shelf_name %> shelf</h4>
</div>

<div class="row">
  <h5>By Year</h5>
  <div style="width: 100%; height: 50rem" id="histogram">
  </div>
</div>

<div class="row">
  <h5>By Gender</h5>
  <div id="sexchart" style="height: 600px;"></div>
</div>

<div class="row">
  <h5>By Rating</h5>
  <div id="pieratings" style="height: 600px;"></div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Gender', 'Count'],
      ['Women',     <%= @women %>],
      ['Men',      <%= @men %>],
      ['Unknown',  <%= @andy %>]
    ]);

    var options = {
      pieHole: 0.4,
      colors: ['#228d8d', '#A86B8A', 'gray'],
      fontName: "inherit",
      pieSliceText: 'label',
      title: 'Genders of the authors on this shelf',
    };

    var chart = new google.visualization.PieChart(document.getElementById('sexchart'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  const labels = [{label: 'Title', id: 'title'}, {label: 'Year', id: 'year', type: 'string'}];
  const histogram_dataset = <%= @histogram_dataset %>;

  histogram_dataset.unshift(labels);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(histogram_dataset);

    var options = {
      title: 'Publication years of these books',
      legend: { position: 'none' },
      fontName: 'inherit',
      hAxis: {format: ' '}
    };

    var chart = new google.visualization.Histogram(document.getElementById('histogram'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Rating', 'Count'],
      ['Unrated',     <%= @ratings[0]  || 0 %>],
      ['1 Star',     <%= @ratings[1]  || 0 %>],
      ['2 Stars',     <%= @ratings[2]  || 0 %>],
      ['3 Stars',     <%= @ratings[3]  || 0 %>],
      ['4 Stars',     <%= @ratings[4]  || 0 %>],
      ['5 Stars',     <%= @ratings[5]  || 0 %>]
    ]);

    var options = {
      pieHole: 0.4,
      fontName: "inherit",
      pieSliceText: 'label',
      title: 'Ratings you gave books on this shelf',
    };

    var chart = new google.visualization.PieChart(document.getElementById('pieratings'));
    chart.draw(data, options);
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
