<div class="row">
  <h4 class="white-text">Your "<%= @shelf_name %>" shelf</h4>
  <img src="<%= @chart_url %>" alt="">
</div>
<div class="row">
  <div class="cards-container">
    <% @isbnset.each do |isbn| %>
      <div class="card hoverable horizontal">
        <div class="card-image">
          <img src="<%= isbn[1] %>">
        </div>
        <div class="card-content">
          <small><%= isbn[2] %></small>
          <br>
          <small><em><%= isbn[3] %></em></small>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
