<h4 class="text-white text-2xl font-bold">Your <em><%= @shelf_name %></em> shelf</h4>
<h5>
  There are <%= @histogram_dataset.map(&:last).group_by(&:itself).values.max_by(&:size).count %> books from <%= @histogram_dataset.map(&:last).group_by(&:itself).values.max_by(&:size).first %> on this shelf, more than any other year.
  <p></p>
</h5>
<div class="w-full h-[50rem]" id="histogram"></div>
<h5 class="text-center text-lg font-semibold">
  Your <em><%= @shelf_name %></em> shelf contains <%= @women %> books by women, and <%= @men %> books by men.
</h5>
<div id="sexchart" class="w-full h-[50rem]"></div>
<h5 class="text-center text-lg font-semibold">
  Your average rating is <%= @ratings.sum { |k, v| k * v }.fdiv(@ratings.values.sum).round(2) %> for books on your <em><%= @shelf_name %></em> shelf.
</h5>
<div id="pieratings" class="w-full h-[50rem]"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Gender', 'Count'],
      ['Women', <%= @women %>],
      ['Men', <%= @men %>],
      ['Unknown', <%= @andy %>]
    ]);

    var options = {
      pieHole: 0.4,
      colors: ['#228d8d', '#a86b8a', '#808080'],
      fontName: "inherit",
      pieSliceText: 'label',
      is3D: true,
      title: 'Genders of the authors on your <%= @shelf_name %> shelf',
      backgroundColor: { fill:'transparent' },
      // chartArea:{top:0,},
    };

    var chart = new google.visualization.PieChart(document.getElementById('sexchart'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  const labels = [{label: 'Title', id: 'title'}, {label: 'Year', id: 'year', type: 'string'}];
  const histogram_dataset = <%= @histogram_dataset %>;

  histogram_dataset.unshift(labels);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(histogram_dataset);

    var options = {
      title: 'Publication years of these books',
      legend: { position: 'none' },
      fontName: 'inherit',
      hAxis: {format: ' '},
      backgroundColor: { fill:'transparent' },
      // chartArea:{top:0,},
    };

    var chart = new google.visualization.Histogram(document.getElementById('histogram'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Rating', 'Count'],
      ['Unrated', <%= @ratings.fetch 0, 0 %>],
      ['1 Star',  <%= @ratings.fetch 1, 0 %>],
      ['2 Stars', <%= @ratings.fetch 2, 0 %>],
      ['3 Stars', <%= @ratings.fetch 3, 0 %>],
      ['4 Stars', <%= @ratings.fetch 4, 0 %>],
      ['5 Stars', <%= @ratings.fetch 5, 0 %>]
    ]);

    var options = {
      pieHole: 0.4,
      fontName: "inherit",
      pieSliceText: 'label',
      is3D: true,
      title: 'How you rated books on your <%= @shelf_name %> shelf',
      colors: ['#808080', '#228d8d', '#a86b8a', '51767e', 'ee7283', 'e6a189', '9d6f7b'],
      backgroundColor: { fill:'transparent' },
      // chartArea:{top:0,},
    };

    var chart = new google.visualization.PieChart(document.getElementById('pieratings'));
    chart.draw(data, options);
  }
</script>
