<% unless @private_profile %>
  <h4 class="white-text">Your "<%= @shelf_name %>" shelf</h4>
  <h5>By Year</h5>
  <div id="histogram" style="height: 800px;"></div>
  <h5>By Gender</h5>
  <div id="donutchart" style="height: 600px;"></div>
  <h5>Books (<%= @book_info.length %>)</h5>

    <div id="books" class="cards-container">
      <% @book_info.each do |isbn| %>
        <div class="card hoverable horizontal">
          <div class="card-image">
            <img src="<%= isbn[1] %>" alt="Book Cover Photo">
          </div>
          <div class="card-content">
            <small><%= isbn[2] %></small>
            <br>
            <small><em><%= isbn[3] %></em></small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="card">
    <h5>Your Goodreads profile is set to private, so we couldn't fetch your books.</h5>
    <h5><a href="https://www.goodreads.com/user/edit">Change your privacy settings here.</a></h5>
    <h5>Navigate to Settings > Privacy Settings > Who Can View My Profile: Anyone </h5>
  </div>
<% end %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  const women = <%= @women %>
  const men = <%= @men %>
  const andy = <%= @andy %>
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Gender', 'Count'],
      ['Women',     women],
      ['Men',      men],
      ['Unknown',  andy]
    ]);

    var options = {
      pieHole: 0.4,
      colors: ['#228d8d', '#A86B8A', 'gray'],
      fontName: "inherit"
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>



<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);

  const labels = [{label: 'Title', id: 'title'}, {label: 'Year', id: 'year', type: 'string'}];
  const histogram_dataset = <%= @histogram_dataset %>;

  histogram_dataset.unshift(labels);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(histogram_dataset);

    var options = {
      title: 'Publication years of these books',
      legend: { position: 'none' },
      fontName: 'inherit',
      hAxis: {format: 'none'}
    };

    var chart = new google.visualization.Histogram(document.getElementById('histogram'));
    chart.draw(data, options);
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<% if flash[:error] %>
  <script type="text/javascript">
    Materialize.toast("<%= flash[:error] %>", 4000)
  </script>
<% end %>
