<h3>What's available at that library</h3>
<span><em>Sorted in order of most copies available to borrow right now.</em></span>


<div class="row">
  <div class="cards-container">
    <% @titles.sort_by { |t| t.copies_available }.reverse_each do |title| %>
      <div class="card hoverable horizontal">
        <div class="card-image">
          <img src="<%= title.image %>">
        </div>
        <div class="card-content">
          <h6><%= title.title %></h6>
          <small>Copies Available: <%= title.copies_available %>/<%= title.copies_owned %></small>
          <br>
          <a href="<%= title.url %>" class="btn waves-effect waves-light btn-small"><i class="material-icons right">book</i>Check it Out</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
