<div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <h3>Finished!</h3>
    <p>There are <%= @available_books.size %> books available to check out right now.</p>
    <p>You can join the waiting list for <%= @waitlist_books.size %> books.</p>
    <div class="progress">
      <div class="determinate" style="width: 100%"></div>
    </div>
    <!-- TODO: add name of shelf and name of library -->
  </div>
</div>

<div class="row">
  <ul class="tabs">
    <% unless @available_books.empty?  %>
      <li class="tab col s4 teal lighten-5"><a href="#available">Available<span class="badge"><%= @available_books.size %></span></a></li>
    <% end %>
    <% unless @waitlist_books.empty? %>
      <li class="tab col s4 yellow lighten-5"><a href="#waitlist">Waitlist<span class="badge"><%= @waitlist_books.size %></span></a></li>
    <% end %>
    <!-- TODO: this count is incorrect, its not taking non-isbn books into account -->
    <li class="tab col s4 red lighten-5"><a href="#unavailable">Unavailable<span class="badge"><%= @unavailable_books.size %></span></a></li>
  </ul>

  <% unless @available_books.empty?  %>
    <div id="available" class="col s12 teal lighten-5">
      <h5>Available Books</h5>
      <div class="cards-container-large">
        <% @available_books.each do |title| %>
          <div class="card hoverable">
            <div class="card-image">
              <img src="<%= title.image %>" alt="Book Cover Photo">
            </div>
            <div class="card-content">
              <div class="row">
                <p><%= title.title %></p>
                <small>Copies Available: <%= title.copies_available %>/<%= title.copies_owned %></small>
              </div>
              <div class="row">
                <a href="<%= title.url %>" class="btn waves-effect"><i class="material-icons right">book</i>Read</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless @waitlist_books.empty? %>
    <div id="waitlist" class="col s12 yellow lighten-5">
      <h5>Join the waitlist</h5>
      <div class="cards-container-large yellow lighten-5">
        <% @waitlist_books.each do |title| %>
          <div class="card hoverable">
            <div class="card-image">
              <img src="<%= title.image %>" alt="Book Cover Photo">
            </div>
            <div class="card-content">
              <div class="row">
                <p><%= title.title %></p>
                <small>Copies Available: <%= title.copies_available %>/<%= title.copies_owned %></small>
              </div>
              <div class="row">
                <a href="<%= title.url %>" class="btn waves-effect"><i class="material-icons right">book</i>Reserve</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% unless @unavailable_books.empty? %>
    <div id="unavailable" class="col s12 red lighten-5">
      <h5>Not available at this library</h5>
      <a href="/auth/library" class="waves-effect waves-light btn">Try a different library</a>
      <div class="cards-container">
        <% @unavailable_books.each do |title| %>
          <div class="card hoverable">
            <div class="card-image">
              <img src="<%= title.image %>" alt="Book Cover Photo">
            </div>
            <div class="card-content">
              <div class="row">
                <p><%= title.title %></p>
                <small>Copies Available: <%= title.copies_available %>/<%= title.copies_owned %></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
