<div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <h3>Finished!</h3>
    <!-- TODO: Add "10 books available to borrow" -->
    <div class="progress">
      <div class="determinate" style="width: 100%"></div>
    </div>
    <!-- TODO: add name of shelf and name of library -->
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <!-- TODO: hide a tab if its empty -->
      <li class="tab col s4"><a href="#test1">Available<span class="badge"><%= @titles.count { |a| a.copies_available > 0 } %></span></a></li>
      <li class="tab col s4"><a href="#test2">Checked Out<span class="badge"><%= @titles.count { |a| a.copies_available == 0 && a.copies_owned > 0} %></span></a></li>
      <li class="tab col s4"><a href="#test3">Unavailable<span class="badge"><%= @titles.count { |a| a.copies_owned == 0 } %></span></a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <h5 id="available">Available Books</h5>
    <div class="cards-container">
      <% @titles.select { |a| a.copies_available > 0 }.each do |title| %>
        <div class="card hoverable horizontal">
          <div class="card-image">
            <img src="<%= title.image %>">
          </div>
          <div class="card-content">
            <div class="row">
              <p><%= title.title %></p>
              <small>Copies Available: <%= title.copies_available %>/<%= title.copies_owned %></small>
            </div>
            <div class="row">
              <a href="<%= title.url %>" class="btn waves-effect"><i class="material-icons right">book</i>Check it Out</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="test2" class="col s12">
    <h5 id="checkedout">Checked out books</h5>
    <div class="cards-container">
      <% @titles.select { |a| a.copies_available == 0 && a.copies_owned > 0 }.each do |title| %>
        <div class="card hoverable horizontal">
          <div class="card-image">
            <img src="<%= title.image %>">
          </div>
          <div class="card-content">
            <div class="row">
              <p><%= title.title %></p>
              <small>Copies Available: <%= title.copies_available %>/<%= title.copies_owned %></small>
            </div>
            <div class="row">
              <a href="<%= title.url %>" class="btn waves-effect"><i class="material-icons right">book</i>Check it Out</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div id="test3" class="col s12">
    <h5 id="unavailable">Not available at that library</h5>
    <a href="/library" class="white-text">
      Try a different library?
    </a>
    <div class="cards-container">
      <% @titles.select { |a| a.copies_owned == 0 }.each do |title| %>
        <div class="card hoverable horizontal">
          <div class="card-image">
            <img src="<%= title.image %>">
          </div>
          <div class="card-content">
            <div class="row">
              <p><%= title.title %></p>
              <small>Copies Available: <%= title.copies_available %>/<%= title.copies_owned %></small>
            </div>
            <div class="row">
              <a href="<%= title.url %>" class="disabled btn waves-effect"><i class="material-icons right">book</i>Check it Out</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
