<div class="row">
  <div class="col l6 s12 offset-l3 m8 offset-m2">
    <h3>Finished!</h3>
    <!-- TODO: Add "10 books available to borrow" -->
    <div class="progress">
      <div class="determinate" style="width: 100%"></div>
    </div>
    <!-- TODO: add name of shelf and name of library -->
  </div>
</div>

Here is the availability for your <%= @titles.count  %> books.

<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <!-- TODO: hide a tab if its empty -->
      <!-- TODO: move this logic out of the view -->
      <li class="tab col s4"><a href="#test1">Available<span class="badge"><%= @titles.count { |t|  t.versions.map(&:copies_available).empty? ? false : t.versions.map(&:copies_available).max > 0 } %></span></a></li>
      <li class="tab col s4"><a href="#test2">Checked Out<span class="badge"><%= @titles.count { |t|  t.versions.map(&:copies_owned).max > 0 && t.versions.map(&:copies_available).max < 0 if t.versions.map(&:copies_owned).max } %></span></a></li>
      <li class="tab col s4"><a href="#test3">Unavailable<span class="badge"><%= @titles.count { |t| t.versions.map(&:copies_owned).max == nil } %></span></a></li>
    </ul>
  </div>
</div>

<div id="test1" class="row">
  <div class="col s12">
    <h5 id="available">Available Books</h5>
    <div class="cards-container">
      <% @titles.select { |t| t.versions.map(&:copies_available)&.max > 0 if t.versions.map(&:copies_available).max }.each do |title| %>
        <div class="card hoverable">
          <div class="card-image">
            <img src="<%= title.image %>">
          </div>
          <div class="card-content">
            This title has <%= title.versions.count %> versions.
            <% title.versions.each_with_index do |version, i| %>
              <h5><%= version.format %></h5>
              <small>Copies Available: <%= version.copies_available %>/<%= version.copies_owned %></small>
              <a href="<%= version.url %>" class="btn waves-effect"><i class="material-icons right">book</i>Check it Out</a>
              <hr>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="test2" class="row">
  <div class="col s12">
    <h5 id="checkedout">Checked out books</h5>
    <div class="cards-container">
      <% @titles.select { |t|  t.versions.map(&:copies_available)&.max < 0 && t.versions.map(&:copies_available)&.max > 0 if t.versions.map(&:copies_available).max }.each do |title| %>
        <div class="card hoverable">
          <div class="card-image">
            <img src="<%= title.image %>">
          </div>
          <div class="card-content">
            This title has <%= title.versions.count %> versions.
            <% title.versions.each_with_index do |version, i| %>
              <h5><%= version.format %></h5>
              <small>Copies Available: <%= version.copies_available %>/<%= version.copies_owned %></small>
              <a href="<%= version.url %>" class="btn waves-effect"><i class="material-icons right">book</i>Check it Out</a>
              <hr>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="test3" class="row">
  <div class="col s12">
    <h5 id="unavailable">Not available at that library</h5>
    <a href="/library" class="white-text">
      <!-- TODO make into a button -->
      Try a different library?
    </a>
    <div class="cards-container">
      <% @titles.select { |t| t.versions.map(&:copies_available)&.max == nil }.each do |title| %>
        <div class="card hoverable">
          <div class="card-image">
            <img src="<%= title.image %>">
          </div>
          <div class="card-content">
            This title has <%= title.versions.count %> versions.
            <% title.versions.each_with_index do |version, i| %>
              <h5><%= version.format %></h5>
              <small>Copies Available: <%= version.copies_available %>/<%= version.copies_owned %></small>
              <a href="<%= version.url %>" class="btn waves-effect"><i class="material-icons right">book</i>Check it Out</a>
              <hr>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
