<div class="row">

<% unless @books_added.length == 0 %>
  <h1 class="green-text">Success!</h1>
<% else %>
  <h1>No books added. Your credentials may have been typed incorrectly. </h1>
  <a href="https://bookmooch.herokuapp.com">Try again</a> or <a href="http://twitter.com/stephanieblack">contact the developer.</a>
<% end %>
</div>
<div class="row">
  <div class="col s6 green lighten-5">
    <h3>Added (or re-added) <%= @books_added.count %> Books</h3>
    <% @books_added.each do |book| %>
      <p><%= book[0] %></p>
      <img src="<%= book[1] %>">
    <% end %>
  </div>
  <div class="col s6 red lighten-5">
    <h3>Couldn't Add <%= @books_failed.count %> Books</h3>
    <p>If some books imported but not others, it's possible that bookmooch doesn't have them listed. </p>
    <% @books_failed.each do |book| %>
      <p><%= book[0] %></p>
      <img src="<%= book[1] %>">
    <% end %>
  </div>
</div>
