<% if @user %>
  <div class="row">
    <div class="col l6 s12 offset-l3 m8 offset-m2">
      <h3>Account</h3>
      <p><b>First Name: </b><%= @user[:first_name]%></p>
      <p><b>Last Name: </b><%= @user[:last_name]%></p>
      <p><b>Email: </b><%= @user[:email]%></p>
      <p><b>Goodreads ID: </b><%= @user[:goodreads_user_id]%></p>
      <a href="<%= @user[:id]%>/edit" class="btn">Edit</a>
    </div>
  </div>
<% end %>
